django
requests
shapely
"""
Dev requirements
"""
black # code formatting
python-dotenv # environment variables
pytest
ruff # linting

"""
Demo requirements
"""
geopandas
matplotlib
branca
folium
mapclassify